nav {
    border-bottom: $border-bottom solid $bg-pale-dark;

    .nav-top {
        display: none;
        justify-content: flex-end;

        p {
            padding-right: 25px;
            color: $main-red;
            font-size: 24px; 
            margin-bottom: 0;
        }

        @include large {
            display: flex;
        }
    }

    .nav-main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 18px;
        margin-top: 10px;

        @include large {
            margin-top: -10px;
            justify-content: space-between;
        }

        .nav-items {
            list-style: none;
            padding-left: 0;

            position: fixed;
            pointer-events: none;
            background-color: $bg-pale;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            margin: 0;
            transform: translateX(-100%);
            transition: transform 0.4s ease-in;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        
            li {
                display: inline-block;
                padding-left: 0px;
                padding-top: 25px;


                a {
                    color: $text-dark;
                    text-decoration: none;
                    font-size: 21px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.current-menu-item.menu-item-object-page {
                    a {
                        text-decoration: underline;
                    }
                }
            }

            @include large {
                pointer-events: all;
                position: static;
                background-color: transparent;
                width: auto;
                height: auto;
                display: initial;
                transform: translateX(0px);

                li {
                    padding-left: 35px;
                }
            }
            
        }
    }
}

.nav-open {
    overflow: hidden;

    body {
        overflow: hidden;
    }
}

.mobile-nav-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

    @include large {
        display: none;
    }
}

html.nav-open {
    .nav-items {
        transform: translateX(0);
    }
}