//Colours
$main-red: #d10a11;
$text-dark: #313131;
$text-accent: #414623;

$bg-pale: #fbf8f1;
$bg-pale-dark: #efebe2;
$bg-med: #e6dfd0;
$bg-footer: #e6dfd0;

$border: #a4917e;
$border-footer: #efebe2;

//Fonts
$tisa: 'ff-tisa-web-pro';
$proxima-nova: 'proxima-nova';

//Layout
$border-bottom: 13px;

//Breakpoints
$xsmall: 480px;
$small: 736px;
$medium: 980px;
$large: 1280px;
$xlarge: 1690px;

